/* set page left/right shit */
.card-creation-main{
    overflow: hidden;
}

.creation-main-body{
    width: 200%;
    height: calc(100% - 64px);
    transition: transform 1s ease;
}


/* .creation-body-part{
    width: 25%;
    height: 100%;
    background-color: cyan;
    border: 2px #000 solid;
} */
.creation-body-part{
    height: 100%;
    background-color: #f1f3f5;
    border: 2px #000 solid;
}
.creation-body-part:first-child,
.creation-body-part:nth-child(3){
    width: 20%;
}
.creation-body-part:nth-child(2),
.creation-body-part:nth-child(4){
    width: 30%;
}

